body{
    margin: 0 ;
    padding: 0;
    background-image: url('cda2021-diaporama-paysages-americains-20-tt-width-1200-height-1200-fill-0-crop-1-bgcolor-ffffff.jpg');
    background-size: cover;
}
header {
    color: bisque;
    justify-content: center;
    display: flex;
}
p {
    padding: 0 5vh; 
} 
header p:hover {
    color: aqua;
} 
.partie2 {
    width: 50%;
    margin: 0 15%;
    padding: 10%;
} 
.partie2 h1 {
    margin: 10px;
    font-size: 70px;
    text-align: center;
    color: aliceblue;
}
.partie2 p {
    margin: 20px;
    text-align: center;
    color: aliceblue;
}
.image {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 30px;
}