body {
    background-color: white;
    margin: 0;
    padding: 0;
}
.barre {
    width: 30%;
    height: 10vh;
    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
form{
    width: 80%;
    height: 10vh;
 }
.barre form input{
   width: 100%;
   height: 10vh;
   font-size: 30px;
   border: none;
   outline: none;
   
}
i{
    font-size: 30px;
    padding: 3vh 0;
 }