body {
    margin: 0;
    padding: 0;
}  
.body1 {
    width: 100%;
    height: 100vh;
    background-image: url(superbe-jeune-blonde-pull-rouge-chapeau-leger-embrasse-amour-son-labrador-dans-parc-automne-belle-fille-animal-ayant-parfait-week-end-ensoleille-plein-air.jpg);
    background-size: cover;
}
.body1 .entete {
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
}
.entete p {
    margin-right: 1%;
    font-weight: bold;
    color: white;
}  
.entete p:hover {
    color: rgb(231, 15, 15);
    cursor: pointer;
}
.partie1 {
    width: 40%;
    margin: 100px;
    margin-top: 300px;
}
.partie1 button {
    width: 100px;
    height: 4vh;
    border-radius: 12px;
    border-color: rgb(175, 54, 54);
    margin-right: 1%;
}     
.partie1 .voaloany {
    background-color: peru;
    color: white;
    font-weight: bold;   
} 
.partie1 .faharoa {
    background-color: white;
    color: peru;
    font-weight: bold;
}
.partie1 h1 {
    color: white;
}   
.partie1 p {
    color: white;
}
.body2 {
    background-color: white;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
.body2 .chien {
    width: 30%;
    height: 60vh;
    margin-right: 150px;
    background-color: white;
}    

.body2 .about {
    width: 50%;
    padding-top: 150px;
    padding-left: 30px;
}
.chien img  {
    width: 100%;
    height: 60vh;
}
.about h1 {
    color: rgb(161, 69, 4);
    font-weight: bold;
}
.about button {
    background-color: peru;
    color: white;
    border-radius: 15px;   
    margin-right: 1%;
    font-weight: bold;
    height: 4vh;
    width: 15%;  
    border-color: rgb(231, 15, 15);
}
.body3 {
    width: 100%;
    height: 40vh;
    background-color: rgba(97, 95, 95, 0.212);
    display: flex;
}
.grise{
    width: 30%;
    padding-left: 5%;
    margin-right: 1%;
}
.grise h1 {
    color: rgb(161, 69, 4);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grise button {
    color: white;
    background-color: peru;
    border-radius: 30px;
    border-color: rgb(194, 10, 178);
    width: 25%;
    height: 4vh;
}
.photos{
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
} 
.photos .a {
    border-style: inset;
    border-color: black;
    width: 40%;
    padding: 0;
    margin-top: 3%;
    margin-bottom: 1%;
    border-radius: 25px;
}
.photos .b {
    border-style: inset;
    border-color: black;
    width: 40%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 3%;
    border-radius: 25px;
}
.a .im1 {
    width: 100%;
    height: 40vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: darkolivegreen;
} 
.a .lettre1 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 24vh;
    background-color: white;
    padding-top: 1vh;
}
.b .im2 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 40vh;
    background-color: darkred;

} 
.b .lettre2 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 24vh;
    background-color: white;
    padding-top: 1vh;
}
.im1 img {   
    margin-right: 1%;
    width: 100%;
    height: 40vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
.im2 img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-right: 1%;
    width: 100%;
    height: 40vh;
}
.lettre1 h3 {
    color: rgb(51, 4, 95);
    padding-left: 2vh;
}
.lettre1 p {
    padding-left: 2vh;
}
.lettre2 h3 {
    padding-left: 2vh;
    color: rgb(51, 4, 95);
}
.lettre2 p {
    padding-left: 2vh;
}
.lettre1 button {
    background-color: peru;
    color: white;
    border-radius: 8px;
    border-color: peru;
    margin-left: 90%;
}
.lettre2 button {
    background-color: peru;
    color: white;
    border-radius: 8px;
    border-color: peru;
    margin-left: 90%;
}